{% extends 'base.html' %}

{% block title %}Employee List{% endblock title %}
{% block link %}<a href="{% url 'createemployeeform' %}">Add Employee</a>{% endblock link %}

{% block content %}
    <h1>Employee List</h1>
    <div class="page-actions">
        <a href="{% url 'filteremployee' %}" class="btn btn-secondary">Filter Age 29+</a>
        <a href="{% url 'sortedemployee' %}?sorttype=asc" class="btn btn-link">Sort Age Asc</a>
        <a href="{% url 'sortedemployee' %}?sorttype=desc" class="btn btn-link">Sort Age Desc</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Join Date</th>
                <th>Post</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in emplist %}
            <tr>
                <td>{{emp.id}}</td>
                <td>{{emp.name}}</td>
                <td>{{emp.age}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.join_date}}</td>
                <td>{{emp.post}}</td>
                <td>
                    <div class="table-actions">
                        <a href="{% url 'deleteemployee' emp.id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'updateemployee' emp.id %}" class="btn btn-link">Update</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
