<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
</head>
<body>
    <h1>Employee List</h1>
    <a href="{% url 'createemployeeform' %}">Add Employee</a><br>
    <a href="{% url 'filteremployee' %}">Filter</a><br>
    <a href="{% url 'sortedemployee' %}?sorttype=asc">asc</a><br>
    <a href="{% url 'sortedemployee' %}?sorttype=desc">desc</a><br> 
    {% comment %} <a href="{% url 'sortedemployee' 'asc' %}">asc</a><br>
    <a href="{% url 'sortedemployee' 'desc' %}">desc</a><br> {% endcomment %}

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Join Date</th>
            <th>Post</th>
            <th>Action</th>
        </tr>

        {% for emp in emplist %}
        <tr>
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.age}}</td>
            <td>{{emp.salary}}</td>
            <td>{{emp.join_date}}</td>
            <td>{{emp.post}}</td>
            {% comment %} <td><a href="{% url 'deleteemployee' %}">Delete</a></td> {% endcomment %}
            <td>
            <a href="{% url 'deleteemployee' emp.id %}">Delete</a>
            <a href="{% url 'updateemployee' emp.id %}">Update</a>
            </td>
        </tr>
        {% endfor %}
</body>
</html>