<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emp Filter</title>
</head>
<style>
    *{
        background-color: cadetblue;
        color: darkblue;
    }
</style>
<body>
    <h1>emp filter</h1>
    <p>name through</p>
    <h3>{{employeef.empname}}</h3>
    <p>id through</p>
    <h3>{{employeef.empid}}</h3>
    <p>post through</p>
    <h3>{{employeef.emppost}}</h3>
    <p>and Query</p>
    <h3>{{employeef.empidandpost}}</h3>
    <p>greater than</p>
    <h3>{{employeef.empgt}}</h3>
    <p>greater than & equal</p>
    <h3>{{employeef.empgte}}</h3>

    <h4>String Queries</h4>
    <p>exact</p>
    <h3>{{employeef.empexact}}</h3>
    <p>iexact</p>
    <h3>{{employeef.empiexact}}</h3>
    <p>empcontains</p>
    <h3>{{employeef.empcontains}}</h3>
    <p>empicontains</p>
    <h3>{{employeef.empicontains}}</h3>


    <p>empstartswith</p>
    <h3>{{employeef.empstartswith}}</h3>
    <p>empistartswith</p>
    <h3>{{employeef.empistartswith}}</h3>
    <p>empendswith</p>
    <h3>{{employeef.empendswith}}</h3>
    <p>empiendswith</p>
    <h3>{{employeef.empiendswith}}</h3>

    <p>in</p>
    <h3>{{employeef.empin}}</h3>

    <p>range</p>
    <h3>{{employeef.emprange}}</h3>
    <p>Ascending Order</p>
    <h3>{{employeef.emporderA}}</h3>
    <p>Descending Order</p>
    <h3>{{employeef.emporderD}}</h3>
</body>
</html>